.root {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #f0f0f0;
  flex-direction: column;
  align-items: center;
}

p {
  width: 250px;
  font-size: 20px;
  color: red;
}

span {
  width: 250px;
  font-size: 15px;
  color: dodgerblue;
}

.p-update {
  font-size: 14px;
  color: white;
  text-align: center;
  line-height: 25px;
  background-color: #ff8400;
  border: 1px #dadada solid;
  border-radius: 5px;
}
